<h1>Welcome to Friently Gamers</h1>

<p>
    <strong>Friently Gamers</strong>
    is a group of like-minded individuals who enjoy playing games together. If you enjoy playing sandbox games on a huge server, or joining pick-up-games of 
    Dota and CS:GO, come check us out! View our gameservers at the top, join our Discord server, and have fun!
</p>