<form asp-controller="Event" asp-action="NewEvent" method="post">
    <div class="row">
        <div class="large-12 columns">
            <label>
                Event Name
                <input type="text" name="name" placeholder="Enter name here">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            <label>
                Date
                <input type="date" required name="date" />
            </label>
        </div>

        <div class="large-4 columns">
            <label>
                Start Time
                <input type="time" required name="timestart"/>
            </label>
        </div>

        <div class="large-4 columns">
            <label>
                End Time <small>optional</small>
                <input type="time" name="timeend" />
            </label>
        </div>
    </div>

    <div class="row">
        <div class="pull-right">
            <input class="button success" type="submit" name="submit" value="Submit Event" />
        </div>
    </div>
</form>