<form asp-controller="Event" asp-action="NewEvent" method="post">
    <div class="row">
        <div class="large-6 columns">
            <label>
                Event Name
                <input type="text" name="name" placeholder="Enter name here">
            </label>
        </div>
        <div class="large-3 columns">
            <label>
                Start Date
                <input type="datetime-local" name="datestart"/>
            </label>
        </div>

        <div class="large-3 columns">
            <label>
                End Date
                <input type="datetime-local" name="dateend" />
            </label>
        </div>
    </div>

    <div class="row">
        <div class="pull-right">
            <input class="button success" type="submit" name="submit" value="Submit Event" />
        </div>
    </div>
</form>