@using FrientlyWebsite.Models
@model FrientlyWebsite.Models.ViewModels.EventList
<h1>
    Events
    @if (Model.IsAdmin)
    {
        <a asp-action="Create" class="success button pull-right">New Event</a>
    }
</h1>

<div class="row">
    @foreach (var dategroup in Model.Events.GroupBy(d => d.DateStart.Date).OrderByDescending(d => d.Key))
    {
        <div class="large-4 columns">
            <h3>@dategroup.Key.ToShortDateString()</h3>

            <ul>
                @foreach (Event curEvent in dategroup)
                {
                    <li>
                        <span class="label">@curEvent.DateStart.ToShortTimeString()</span>
                        <strong>@curEvent.Name</strong>

                        @if (curEvent.DateEnd != DateTime.MinValue)
                    {
                            <small><i class="fa fa-arrow-right"></i></small>
                            <span class="label">@curEvent.DateEnd.ToShortTimeString()</span>
                        }
                    </li>
                }
            </ul>
        </div>
    }
</div>
