@model FrientlyWebsite.Models.ViewModels.BlogPostList
<h1>Factorio</h1>
<p>
    We're running a server for the new industrial engineering simulator, Factorio.
</p>
<iframe src="http://store.steampowered.com/widget/427520/" style="width: 100%; height: 200px;" allowtransparency="true" frameborder="0"></iframe>
<a id="Mods"></a>
<h3>Joining the Server</h3>
<p>
    To join, download the following mods and place them into the following directory.
</p>
<ul>
    <li><a href="http://www.factoriomods.com/mods/diplomacy">Diplomacy 0.12.0</a></li>
    <li><a href="http://www.factoriomods.com/mods/rotatable-pipes">Flow Control 1.1.0</a></li>
    <li><a href="http://www.factoriomods.com/mods/warehousing">Warehousing 0.0.6</a></li>
    <li><a href="http://www.factoriomods.com/mods/bergius-process">Bergius Process 0.1.1</a></li>
    <li><a href="http://www.factoriomods.com/mods/smarttrains">SmartTrains 0.3.77</a></li>
    <li><a href="https://github.com/Choumiko/RailTanker/releases/download/v1.1.3/RailTanker_1.1.3.zip">RailTanker 1.1.3</a></li>
</ul>

<blockquote>%APPDATA%\Factorio\mods</blockquote>
<p>Then, connect via the following address: </p>
<blockquote>friently.jmazouri.com</blockquote>
<h3>Backups</h3>
<p>
    If you'd like to download a personal backup of the server's world, whether because you think it's cool or you want to
    maintain your creations, simply visit our backups page <a asp-action="FactorioBackups">here</a>.
</p>
<h3>Blog Posts</h3>
@Html.Partial("_BlogPostList", Model)