@model FrientlyWebsite.Models.ViewModels.BlogPostList
<h1>Team Fortress 2</h1>
<p>
    TF2 - the classic Valve hat simulator. Now on Friently Gamers! Currently running 24/7 ctf_2fort_egypt.
</p>

<iframe src="http://store.steampowered.com/widget/440/" style="width: 100%; height: 200px;" allowtransparency="true" frameborder="0"></iframe>

<h3>Joining the Server</h3>
<a class="button alert" style="font-size:2em;font-weight:bold;" href="steam://connect/friently.jmazouri.com">CONNECT</a>
<p>Or, if that doesn't work, type this into the console</p>
<blockquote>connect friently.jmazouri.com</blockquote>